.box_input_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box_input_data_final{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input_data, .label_for_input, .update_password_btn{
    font-size: 18px;
}

.input_data{
    text-indent: 5px;
    height: 40px;
    border-radius: 10px;
    width: 100%;
}

.label_for_input{
    color: gray;
    user-select: none;
    width: 80%;
}

.box_password{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    column-gap: 1vw;
}

.form_change_password{
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 250px;
    min-width: 300px;
}

.update_password_btn{
    height: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.update_password_btn:hover{
    background-color: var(--first_main_color);
}

.update_password_btn:active{
    background-color: var(--second_main_color);
}

#visibility_password_img, #visibility_password_confirm_img{
    max-width: 30px;
    max-height: 30px;
}
#visibility_password_img:hover, #visibility_password_confirm_img:hover{
    opacity: 0.6;
}

#visibility_password_img:active, #visibility_password_confirm_img:active{
    opacity: 0.4;
}

@media(max-width:1000px){
    .box_input_data_final{
        width: 70%;
    }
    .input_data, .label_for_input, .update_password_btn{
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .box_input_data_final{
        width: 90%;
    }
    .input_data{
        height: 35px;
    }
}