/* Избранное */

.main_box_favorite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_item{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 300px;
    border-radius: 15px;
}

.image_box, .buy_favorite_price{
    width: 20%;
}

.buy_favorite_price{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image_box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_box img{
    max-height: 80%;
    max-width: 80%;
}

.info_box{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box_data{
    flex: 1;
    max-height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.name_item{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.name_item:hover{
    color: var(--first_main_color);
}

.name_item:active{
    color: var(--second_main_color);
}

.feedback_item{
    display: flex;
    flex-direction: column;
}

.image_star{
    width: 15px;
    height: 15px;
}

.price_item{
    width: 100%; 
    text-align: center; 
    font-size: 26px;
}

.buy_favorite{
    margin-top: 1vh;
    display: flex;
    width: 100%;
}

.box_center{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.image_heart{
    max-width: 30px;
    max-height: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.image_heart:hover{
    opacity: 1;
}

.link_buy{
    font-size: 16px;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.link_buy:not(.add_item, .error_add_item):hover{
    background-color: var(--first_main_color);
    color: white;
}

.all_cards_favorite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_title{
    display: flex;
    justify-content: center;
}

.box_title h1{
    width: 100%;
}

.add_item{
    font-size: 18px;
    background-color: green;
}

.add_item:after{
    content: '✓';
}

.error_add_item{
    font-size: 22px;
    background-color: red;
}

.error_add_item:after{
    content: '×';
}

.box_info_favorite{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1000px){
    .image_box, .buy_favorite_price{
        width: 50%;
    }

    .image_box{
        height: 60%;
    }
    .box_title h1{
        width: 80%;
    }

    .link_buy{
        height: 40px;
    }
    .buy_favorite_price{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }
    .price_item{
        font-size: 22px;
    }
    .card_item{
        flex-direction: column;
        max-height: 100%;
        min-height: 400px;
        width: 80%;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
    }
    .name_item{
        font-size: 16px;
    }
    .feedback_text, .count_text{
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .link_buy{
        width: 80px;
        height: 30px;
    }
    .name_item{
        font-size: 14px;
    }
    .price_item{
        font-size: 18px;
    }
    .feedback_text, .count_text{
        font-size: 12px;
    }
}

/*  */