.content_box{
    height: 30vh;
    width: 40vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
.content_box > *{
    flex: 1;
}
.form_recovery_password{
    min-width: 300px;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form_recovery_password > *{
    width: 80%;
}

.box_input_data{
    display: flex;
    flex-direction: column;
}

.label_for_input{
    color: gray;
    user-select: none;
    width: 80%;
}

.input_data{
    height: 40px;
    border-radius: 5px; 
    text-indent: 5px;  
}

.input_data, .label_for_input{
    font-size: 18px;
}

.reset_btn{
    width: 200px;
    height: 40px;
    user-select: none;
    font-size: 18px;
    border-radius: 5px;
}

.reset_btn:hover{
    background-color: var(--first_main_color);
}

.reset_btn:active{
    background-color: var(--second_main_color);
}

@media(max-width:500px){
    .form_recovery_password{
        min-width: 200px;
        min-height: 150px;
    }
    .reset_btn{
        width: 150px;
        height: 35px;
    }

    .input_data{
        height: 35px;
    }

    .input_data, .label_for_input, .reset_btn{
        font-size: 14px;
    }
}