/* Регистрация */

.box_input_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_data{
    text-indent: 5px;
    height: 40px;
    border-radius: 10px;
    width: 100%;
}

.input_data, .label_for_input{
    font-size: 18px;
}

.label_for_input{
    color: gray;
    user-select: none;
    width: 80%;
}

.main_box_auth{
    background-color: white;
    border-radius: 15px;
    border-top: 5px solid var(--first_main_color);
    border-left: 5px solid var(--first_main_color);
    border-right: 5px solid var(--second_main_color);
    border-bottom: 5px solid var(--second_main_color);
    width: 60%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_auth{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2vh;
}

.box_input_data_final{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.box_link_to_reg{
    height: 30px;
    display: flex;
    align-items: end;
    font-size: 14px;
}

.link_to_reg{
    text-decoration: none;
    color: blue;
}

.link_to_reg:hover{
    color: rgb(100, 100, 255);   
}

.link_to_reg:active{
    color: rgb(150, 150, 255);   
}

.sign_in_btn{
    width: 250px;
    height: 50px;
    border: 4px solid lightgray;
    border-radius: 10px;
    background-color: transparent;
    font-size: 18px;
}

.sign_in_btn:hover{
    border: 4px dashed black;
    background-color: var(--first_main_color);
}

.sign_in_btn:active{
    border: 4px solid black;
    background-color: var(--second_main_color);
}

.box_password{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    column-gap: 1vw;
}

#visibility_password_img, #visibility_password_confirm_img{
    max-width: 30px;
    max-height: 30px;
}
#visibility_password_img:hover, #visibility_password_confirm_img:hover{
    opacity: 0.6;
}

#visibility_password_img:active, #visibility_password_confirm_img:active{
    opacity: 0.4;
}

@media(max-width: 1000px){
    .main_box_auth{
        width: 80%;
    }
    .box_auth{
        row-gap: 1vh;
    }

    .main_box_auth{
        margin: 50px 0;
    }

    .title_text{
        font-size: 1.5em;
    }
    .input_data, .label_for_input{
        font-size: 14px;
    }
    .box_input_data_final{
        width: 70%;
    }
    .box_link_to_reg{
        font-size: 11px;
    }
    .sign_in_btn{
        width: 150px;
        height: 30px;
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .main_box_auth{
        width: 90%;
    }
    .box_input_data_final{
        width: 90%;
    }
    .input_data{
        height: 35px;
    }
    #visibility_password_img, #visibility_password_confirm_img{
        max-width: 20px;
        max-height: 20px;
    }
}

/*  */