{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - корзина</title>
        <link rel="stylesheet" href="{% static 'techway/styles/basket_style.css' %}">
    {% endblock head %}
</head>
<body>
    {% block body %}
    
    <div class="container main_box">
        <div class="main_box_favorite box_margin">
            <div class="box_title">
                <h1 class="title_text">Корзина</h1>
            </div>
            <form action="" method="post" class="box_small box_margin" id="ordering_form">
                {% csrf_token %}
                <div class="box_about_order">
                    <div>
                        <h3>Суммарное количество товаров: <span id="amount_items"></span></h3>
                        <h3>Общая сумма заказа: <span id="sum_items"></span> &#8381</h3>
                    </div>
                    <button class="link_buy">Оформить заказ</a>
                </div>
                <div class="select_data_to_order">
                    <div class="select_shop">
                        <h3 class="select_text">Выберете магазин: </h3>
                        <select class="select_data" name="select_shop" id="" required>
                            <option value="" disabled selected hidden></option>
                            {% for shop in shop_list %}
                                <option value="{{ shop.idshop }}">{{ shop.addres }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select_payment_method">
                        <h3 class="select_text">Выберете тип оплаты: </h3>
                        <select class="select_data" name="select_payment_method" id="" required>
                            <option value="" disabled selected hidden></option>
                            {% for payment_method in payment_method_list %}
                                <option value="{{ payment_method.id_payment_method }}">{{ payment_method.method }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </form>
            <div class="box_about_favorite box_margin">
                <div class="box_info_instruments">
                    <div class="box_instruments">
                        <div class="box_selected_all" id="selected_all_items">
                            <input type="checkbox" name="" id="selected_all_items_checkbox">
                            <p>Выбрать все</p>
                        </div>
                    </div>
                </div>
                <div class="box_buy_items_btn">
                    <button class="buy_items_btn" id="selected_all_items_btn">Удалить выбранные</button>
                </div>
            </div>
            {% if error %}
                <div class="box_error box_margin">
                    <p class="error_text text_align_center">{{ error }}</p>
                </div>
            {% endif %}
            {% include 'TechWay/backet_list_view.html' %}
        </div>
    </div>

    
    <script src="{% static 'techway/scripts/backet_script.js' %}"></script>

    {% endblock body %}
</body>
</html>