{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - избранное</title>
        <link rel="stylesheet" href="{% static 'techway/styles/favorite_style.css' %}">
    {% endblock head %}
</head>
<body>
    {% block body %}
    
    <div class="container main_box">
        <div class="main_box_favorite box_margin">
            <div class="box_title">
                <h1 class="title_text">Избранное</h1>
            </div>

            {% include 'TechWay/favorite_list_view.html' %}

        </div>
    </div>

    {% endblock body %}
</body>
</html>