{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - {{ product.name }}</title>
        <link rel="stylesheet" href="{% static 'techway/styles/item_page_style.css' %}">
    {% endblock head %}
</head>
<body>
    {% block body %}
        <div class="container main_box">
            <div class="box_margin">
                <div class="box_all_catalog_item">
                    <p>{{ product.section }} > {{ product.category }} > {{ product.subcategory }} > {{ product.name }}</p>
                </div>
                <h1 class="box_margin title_text">{{ product.name }}</h1>
                <div class="box_item box_margin">
                    <div class="box_images">
                        <div class="box_arrow">
                            <img src="{% static 'techway/images/down-arrow.png' %}" alt="" id="back_to_image">
                        </div>
                        {% if product.url_photos %}
                        <div class="all_image_item">
                            {% for img in product.url_photos %}
                            <img src="{% static 'techway/images/photo_items/' %}{{ img }}" alt="">
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="all_image_item">
                            <h3 class="text_align_center">Нет фото</h3>
                        </div>
                        {% endif %}
                        <div class="box_arrow">
                            <img src="{% static 'techway/images/down-arrow.png' %}" alt="" id="next_to_image">
                        </div>
                    </div>
                    <div class="box_data">
                        <div class="box_top">
                            <div class="box_price_feedback">
                                <h2 class="price_item">{{ product.price }} &#8381</h2>
                                <div class="feedback_item">
                                    <div>
                                        <p class="feedback_text"><img class="image_star" src="{% static 'techway/images/star.png' %}" alt=""> {{ product.feedback }} | {{ product.rating_count }} отзыва(-ов)</p>
                                    </div>
                                    <div class="count_text">
                                        <p>В наличие {{ product.amount }} шт</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_center">
                            <div>
                                {% if product.favorites %}
                                    <img  class="image_heart" src="{% static 'techway/images/fill_heart.png' %}" alt="Избранное" title="В избранном" {% if 'id_user' in request.session %}onclick="addOrRemoveFavorite(event, '{% static 'techway/images/heart.png' %}', '{% static 'techway/images/fill_heart.png' %}', '{{ product.idproduct }}')"{% endif %}>
                                {% else %}
                                    <img class="image_heart" src="{% static 'techway/images/heart.png' %}" alt="Избранное" title="Добавить в избранное" {% if 'id_user' in request.session %}onclick="addOrRemoveFavorite(event, '{% static 'techway/images/heart.png' %}', '{% static 'techway/images/fill_heart.png' %}', '{{ product.idproduct }}')"{% endif %}>
                                {% endif %}
                                {% if product.basket %}
                                    <a href="{% url 'TechWay:backet' %}" class="link_buy" title="В корзине"><span>В корзине</span></a>
                                {% else %}
                                    <button class="link_buy add_btn" title="добавить в корзину" id="{{ product.idproduct }}" {% if 'id_user' not in request.session%} disabled {% endif%}><span>Купить</span></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                    
                <h1 class="box_margin title_text">Описание</h1>
                <div class="box_specifications box_margin">
                    <div class="box_center_specifications">
                        <div class="box_describe">
                            <h3>{{ product.describe }}</h3>
                        </div>
                    </div>
                </div>

                <h1 class="box_margin title_text">Характеристики</h1>
                <div class="box_specifications box_margin">
                    <div class="box_center_specifications">
                        {% for key, value in product.property.items %}
                            <div class="box_specification">
                                <h3>{{ key }}</h3>
                                <p>{{ value }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <h1 class="box_margin title_text">Производитель</h1>
                <div class="box_specifications box_margin">
                    <div class="box_center_specifications">
                        <div class="box_specification">
                            <h3>Название:</h3>
                            <p>{{ product.manufacturer.name }}</p>
                        </div>
                        <div class="box_specification">
                            <h3>Страна:</h3>
                            <p>{{ product.manufacturer.country }}</p>
                        </div>
                        <div class="box_specification">
                            <h3>Оценка:</h3>
                            <p>{{ product.manufacturer.feedback }}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <script src="{% static 'techway/scripts/index.js' %}" type="text/javascript"></script>
        <script src="{% static 'techway/scripts/item_page_script.js' %}"></script>
    {% endblock body %}
</body>
</html>