<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding:0; color: black;" width="100">
  <tr>
    <td>
      <center style="max-width: 600px; width: 100%;">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100">
            <tr>
                <td>
                  <img src="cid:logo" alt="" border="0" width="470" height="120" style="display:block;"/>    
                </td>
            </tr>
            <tr>
                <td>
                  <span style="display:inline-block; font-size: 24px;">
                    <br>
                    <b>Ваш электронный чек</b>
                  </span>
                </td>
            </tr>
            <tr>
                <td>
                  <span style="display:inline-block; font-size: 16px;">
                    <br>
                    Спасибо вам за оформленный заказа!<br>
                    По вашему заказу сформирован электронный чек.
                  </span>
                </td>
            </tr>
            <tr>
                <td>
                  <br>
                  <br>
                  <center>
                    <span style="display:inline-block; width: 200px; height: 50px; border: 1px solid black; border-radius: 5px;">
                      <a href="cid:check" style="width: 100%; display:inline-block; color: blue; text-decoration: none; line-height: 52px; text-align: center;">
                          Скачать электронный чек
                      </a>
                    </span>
                  </center>
                </td>
            </tr>
            <tr>
                <td>
                  <span style="display:inline-block; font-size: 16px;">
                    <br>
                    <b>TechWay</b>
                  </span>
                </td>
            </tr>
        </table>
      </center>   
    </td>
  </tr>
</table>