<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding:0; color: black;" width="100">
  <tr>
    <td>
      <center style="max-width: 600px; width: 100%;">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100">
            <tr>
                <td>
                  <img src="cid:logo" alt="" border="0" width="470" height="120" style="display:block;"/>    
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <span style="display:inline-block; font-size: 24px; width: 100%;">
                            <br>
                            <b>Восстановление пароля</b>
                        </span>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                  <span style="display:inline-block; font-size: 16px; text-indent: 25px;">
                    Уважаемый {{ lastname }} {{ firstname }} {{ midlename }}. Вы сделали запрос на восстановление пароля на сайте {{ link_to_site }}. Чтобы создать новый пароль, пройдите по ссылке ниже:
                  </span>
                </td>
            </tr>
            <tr>
                <td>
                  <br>
                  <br>
                  <center>
                    <span style="display:inline-block; width: 200px; height: 50px; border: 1px solid black; border-radius: 5px; background-color: green; user-select: none;">
                      <a href="{{ reset_password }}" style="width: 100%; display:inline-block; color: white; text-decoration: none; line-height: 52px; text-align: center; font-size: 14px;">
                          Восстановить пароль
                      </a>
                    </span>
                  </center>
                </td>
            </tr>
            <tr>
                <td>
                  <span style="display:inline-block; font-size: 16px;">
                    <br>
                    <b style="display:inline-block; text-indent: 25px;">Если вы не делали запроса для получения нового пароля, то просто удалите данное письмо. Ваш пароль хранится в надёжном месте и не доступен другим лицам.</b>
                  </span>
                </td>
            </tr>
        </table>
      </center>   
    </td>
  </tr>
</table>