{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - домашняя страница</title>
        <link rel="stylesheet" href="{% static 'techway/styles/main_window_style.css' %}">
    {% endblock head %}
    </head>
    <body>
        {% block body %}
        <div class="container box_all_div">
            {% if product_list %}
                <div class="box_margin">
                    <h2 class="number_of_items_found">Найдено: {{ all_product_items }} товаров</h2>
                </div>
            {% endif %}
            <div class="box_sort_link box_margin">
                <p>Сортировка: <button class="sort_link" onclick="click_sort_link()" id="sort_link" style="color: rgb(0, 166, 255);"></button></p>
            </div>

            {% if categories %}
                <div class="box_margin box_categories">
                    <p class="categories" id="{{ categories.2 }}">{{ categories|join:" > " }}</p>
                </div>
            {% endif %}
            {% include 'TechWay/product_previews_list.html' %}
            <!-- Кнопки на переход сраницы с другими товарами -->
            <div class="page_box">
                <div class="pages">
                    <div>
                        <button class="btn_pages" id="minus_page"><img src="{% static 'techway/images/down-arrow.png' %}" alt="">Назад</button>
                        <p id="pages">{{ number_page }}/{{ count_page }}</p>
                        <button class="btn_pages" id="plus_page">Вперёд<img src="{% static 'techway/images/down-arrow.png' %}" alt=""></button>
                    </div>
                </div>
            </div>
            <!--  -->
            <section class="types_sort" id="box_types_sort" style="visibility: hidden;">
                <div>
                    <input type="radio" id="low_cost_first" name="sort" value="low_cost_first" checked/>
                    <label for="low_cost_first">сначала недорогие</label>
                </div>
                <div>
                    <input type="radio" id="expensive_first" name="sort" value="expensive_first" {% if sort and sort == 'expensive_first' %} checked {% endif %}/>
                    <label for="expensive_first">сначала дорогие</label>
                </div>
                <div>
                    <input type="radio" id="number_of_feedback" name="sort" value="number_of_feedback" {% if sort and sort == 'number_of_feedback' %} checked {% endif %}/>
                    <label for="number_of_feedback">по количеству отзывов</label>
                </div>
                <div>
                    <input type="radio" id="best_feedback" name="sort" value="best_feedback" {% if sort and sort == 'best_feedback' %} checked {% endif %}/>
                    <label for="best_feedback">сначала с лучшей оценкой</label>
                </div>
            </section>
            <!--  -->
        </div>
        <script src="{% static 'techway/scripts/main_window_script.js' %}"></script>
    {% endblock body %}
</body>
</html>