{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - домашняя страница</title>
        <link rel="stylesheet" href="{% static 'techway/styles/main_window_style.css' %}">
    {% endblock head %}
    </head>
    <body>
        {% block body %}
        <div class="container box_all_div">
            {% if product_list %}
                <div class="box_margin">
                    <h2 class="number_of_items_found">Найдено: {{ product_list|length }} товаров</h2>
                </div>
            {% endif %}
            <div class="box_sort_link box_margin">
                <p>Сортировка: <button class="sort_link" onclick="click_sort_link()" id="sort_link" style="color: rgb(0, 166, 255);">сначала популярные</button></p>
            </div>

            {% if categories %}
                <div class="box_margin box_categories">
                    <!-- <p class="categories">Бытовая техника > Встраиваемая техника > Варочные панели</p> -->
                    <p class="categories">{{ categories|join:" > " }}</p>
                </div>
            {% endif %}

            {% include 'TechWay/product_previews_list.html' %}
            <!-- Кнопки на переход сраницы с другими товарами -->
            <div class="page_box">
                <div class="pages">
                    <div>
                        <button class="btn_pages"><img src="{% static 'techway/images/down-arrow.png' %}" alt="">Назад</button>
                        <p>1/10</p>
                        <button class="btn_pages">Вперёд<img src="{% static 'techway/images/down-arrow.png' %}" alt=""></button>
                    </div>
                </div>
            </div>
            <!--  -->
            <section class="types_sort" id="box_types_sort" style="visibility: hidden;">
                <div>
                    <input type="radio" id="popular_first" name="sort" value="popular_first" checked></input>
                    <label for="popular_first">Сначала популярные</label>
                </div>
                <div>
                    <input type="radio" id="low_cost_first" name="sort" value="low_cost_first" />
                    <label for="low_cost_first">Сначала недорогие</label>
                </div>
                <div>
                    <input type="radio" id="expensive_first" name="sort" value="expensive_first" />
                    <label for="expensive_first">Сначала дорогие</label>
                </div>
                <div>
                    <input type="radio" id="number_of_feedback" name="sort" value="number_of_feedback" />
                    <label for="number_of_feedback">По количеству отзывов</label>
                </div>
                <div>
                    <input type="radio" id="best_feedback" name="sort" value="best_feedback" />
                    <label for="best_feedback">Сначала с лучшей оценкой</label>
                </div>
            </section>
            <!--  -->
        </div>
        <script src="{% static 'techway/scripts/main_window_script.js' %}"></script>
    {% endblock body %}
</body>
</html>