{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - восстановление пароля</title>
        <link rel="stylesheet" href="{% static 'techway/styles/password_recovery_style.css' %}">
    {% endblock head %}
</head>
<body>
    {% block body %}

    <div class="container">
        <div class="content_box">
            <h1 class="text_align_center title_text">Восстановление пароля</h1>
            <form class="form_recovery_password" action="" method="post">
                {% csrf_token %}
                {% if result %}
                <p class="text_align_center complete_text">{{ result }}</p>
                {% endif %}
                {% if error %}
                <p class="text_align_center error_text">{{ error }}</p>
                {% endif %}
                <div class="box_input_data">
                    <label for="login_input" id="label_mail" class="label_for_input" style="display: none;">Введите почту</label>
                    <input class="input_data" type="text" name="input_mail" id="login_input" oninput="checkPlaceHolder('label_mail', 'login_input')" required pattern="^[A-Za-z0-9]{3,}[@][A-Za-z]{3,}[.][A-Za-z]+$">
                </div>
                <button class="reset_btn" type="submit">Восстановить пароль</button>
            </form>
        </div>
    </div>
    <script src="{% static 'techway/scripts/recovery_password_script.js' %}"></script>
    {% endblock body %}
</body>
</html>