{% load static %}

<div class="box_margin all_cards_item" id="box_product_list">

    <!-- карточка товара -->
    {% if product_list %}
    {% for product in product_list %}
        <div class="card_item box_margin">
                <div class="image_box">
                    <img src="{% static 'techway/images/photo_items/' %}{{ product.url_photos.0 }}" alt="фото товара">
                </div>
                <div class="info_box">
                    <div class="box_data">
                        <div>
                            <a class="name_item" href="{% url 'TechWay:product_window' product.idproduct %}">{{ product.name }}</a>
                        </div>
                        <div class="feedback_item">
                            <div>
                                <p class="feedback_text"><img class="image_star" src="{% static 'techway/images/star.png' %}" alt=""> {{ product.feedback }} | {{ product.rating_count }} отзыва(-ов)</p>
                            </div>
                            <div class="count_text">
                                <p>В наличие {{ product.amount }}(шт)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buy_favorite_price">
                    <p class="price_item">{{ product.price }} &#8381</p>
                    <div class="buy_favorite">
                        <div class="box_center">
                            {% if product.favorites %}
                                <a class="favorite" href="#" title="В избранном" onclick="addFavorite()">
                                    <img class="image_heart" src="{% static 'techway/images/fill_heart.png' %}" alt="">
                                </a>
                            {% else %}
                                <a class="favorite" href="#" title="Добавить в избранное" {% if 'id_user' in request.session %}onclick="addFavorite()"{% endif %}>
                                    <img class="image_heart" src="{% static 'techway/images/heart.png' %}" alt="">
                                </a>
                            {% endif %}
                            {% if product.basket %}
                                <a href="{% url 'TechWay:backet' %}" class="link_buy" title="В корзине"><span>В корзине</span></a>
                            {% else %}
                                <button class="link_buy add_btn" title="добавить в корзину" id="{{ product.idproduct }}" {% if 'id_user' not in request.session%} disabled {% endif%}><span>Купить</span></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h1 class="title_text">Товары не найдены</h1>
    {% endif %}
    <!--  -->
</div>