{% extends 'TechWay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>TechWay - регистрация</title>
        <link rel="stylesheet" href="{% static 'techway/styles/registration_style.css' %}">
    {% endblock head %}
</head>
<body>
    {% block body %}
    <div class="container main_box center_elements">
        <div class="main_box_auth">
            <h1 class="text_align_center title_text">Регистрация</h1>
            <form action="" method="post" class="box_auth">
                {% csrf_token %}
                <div class="box_input_data">
                    <div class="box_input_data_final">
                        <label for="login_input" id="label_mail" class="label_for_input" style="display: none;">Введите почту</label>
                        <input class="input_data" type="text" name="input_mail" id="login_input" oninput="checkPlaceHolder('label_mail', 'login_input')" required pattern="^[A-Za-z0-9]{3,}[@][A-Za-z]{3,}[.][A-Za-z]+$" maxlength="255">
                    </div>
                </div>
                <div class="box_input_data">
                    <div class="box_input_data_final">
                        <label for="last_name_input" id="label_last_name" class="label_for_input" style="display: none;">Введите фамилию</label>
                        <input class="input_data" type="text" name="input_last_name" id="last_name_input" oninput="checkPlaceHolder('label_last_name', 'last_name_input')" required pattern="^[а-яёА-ЯЁ]{3,}$" maxlength="45">
                    </div>
                </div>
                <div class="box_input_data">
                    <div class="box_input_data_final">
                        <label for="first_name_input" id="label_first_name" class="label_for_input" style="display: none;">Введите имя</label>
                        <input class="input_data" type="text" name="input_first_name" id="first_name_input" oninput="checkPlaceHolder('label_first_name', 'first_name_input')" required pattern="^[а-яёА-ЯЁ]{3,}$" maxlength="45">
                    </div>
                </div>
                <div class="box_input_data">
                    <div class="box_input_data_final">
                        <label for="password_input" id="label_password" class="label_for_input" style="display: none;">Введите пароль</label>
                        <input class="input_data" type="text" name="input_password" id="password_input" oninput="checkPlaceHolder('label_password', 'password_input')" required pattern="^[A-Za-z\d]{5,}$" maxlength="100">
                    </div>
                </div>
                <div class="box_input_data">
                    <div class="box_input_data_final">
                        <label for="password_confirm_input" id="label_password_confirm" class="label_for_input" style="display: none;">Подтвердите пароль</label>
                        <input class="input_data" type="text" name="input_password_confirm" id="password_confirm_input" oninput="checkPlaceHolder('label_password_confirm', 'password_confirm_input')" required pattern="^[A-Za-z\d]{5,}$" maxlength="100">
                        <div class="box_link_to_reg">
                            <p>Есть аккаунт? <a class="link_to_reg" href="{% url 'TechWay:auth' %}">Войти</a></p>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Создать" class="sign_in_btn">
            </form>
        </div>
    </div>
    <script src="{% static 'techway/scripts/reg_script.js' %}"></script>
    {% endblock body %}
</body>
</html>